.app__header {
  display: grid;
  min-height: 100vh;
  text-align: left;
  grid-template-columns: repeat(2, 10vh 90vh);
  grid-template-rows: repeat(2, 5vh 95vh);
}

.app__header_title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.app__header_names {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.activeLink {
  color: red;
}

.app__header_messages {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
