.menu__items{
    background-color: rgb(153, 153, 153);
}

.menu__item{
    padding: 10px 10px ;
    font-size: 21px;
    color: white;
    text-decoration: none;
}

.menu__item:hover{
    color: thistle;
}